.App {
    width: 100vw;
    height: 100vh;
  }
  .background-color{
    background-color: gray;
  }
  
  body{
    margin:0;
    padding: 0;
  }
  
  .Sidebar{
    height: 83vh;
    width: 250px;
    background-color: #02060a;
  }
  
  .SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
  
  }
  
  .SidebarList .row{
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color:white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', 'Arial', 'sans-serif';
    font-size: 20px;
  }
  
  .SidebarList .row:hover{
    cursor: pointer;
    background-color:#ffffff;
    color: rgb(29, 66, 230);
    transition: all 0.3s ease-out;
    transition: 250ms;
   
  }
  
  .SidebarList #active{
    background-color:#16191b;
  }
  
  .row .icon{
    flex:20%;
    display: grid;
    place-items: center;
  }
  
  .row .title{
    flex:50%;
  }