.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}
.cards_items_button {
  
  text-align: center;
  margin:  auto;
  border-radius: 2px;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  background-color: black;
  color:#fff;
  padding: 10px 20px;
 
  
}
.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}


.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}
nav .nav-cart{
  cursor: pointer;
  position: relative;
  top : 25px;
  color: white;
  font-size: 125%;
  flex-flow: column;
  width: 100%;
  
}

nav .nav-cart span{
  position: absolute;
  top:-12px;
  right: -7px;
  background:crimson;
  font-size: 10px;
  color: white;
  padding : 3px 5px;
  border-radius: 50%;
  z-index: -1;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
.table-cart {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.table-head-cart {
  padding: 10px;
  background-color: #f9fafb;
  font-style: bold;
}

.table-head-cart tr th {
  padding: 10px;
  width: 300px;
  border: 1px solid #cccccc;
}

.table-body-cart tr td {
  border: 1px solid #cccccc;
  padding: auto;
}

table h6 {
  padding: 10px;
}

.btn-up-down {
  margin-left: 20px;
}

.btn-up,
.btn-down {
  width: 30px;
  margin: 5px;
  border: none;
  background-color: #3b4a6b;
  color: #fff;
}

.btn-del {
  margin: 5px;
  padding: 3px;
  width: 70px;
  border: none;
  background-color: red;
  color: #fff;
}

.col-75-form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px 200px 50px 200px;
}

.col-25-form {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75-form {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row-form:after {
  content: "";
  display: table;
  clear: both;
}
.img-box1{
  width: 284px;
  height: 300px;  

}
