.Apps{
    width:80%;
    padding:10px;
}

.Wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    width: auto;
    
}

table{
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%),
              0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  background-color: white
}

.left-side {
    width: 30%;
  }
  
  .right-side {
    padding-left: 20px;
    width: 100%;
  }
  
  .right-side table {
    width: 100%;
    border-collapse: collapse;
  
  }
  
  
  .right-side table th,
  .right-side table td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: center;
    width: 320px;
  }
  
  .right-side table td button {
    margin: 5px;
  }
  
  .right-side table th {
    background-color: #F9FAFB;
    font-size: 20px;
    padding: 15px;
  }
  
  .right-side table button {
    cursor: pointer;
  }
  
  .insertForm{
    background-color: #F9FAFB;
    border: 1px solid #cccccc;
    padding: 10px;
  }
  
  .insertForm h2 {
    margin: 0 0 10px 0;
    text-align: center;
  }
  
  .insertForm label {
    font-weight: bold;
  }
  
  .insertForm input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .insertForm [type="submit"] {
    margin-top: 5px;
    background: #1F2937;
    color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  
  }
  
  .insertForm [type="submit"]:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  /* .btn{
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px 5px;
    outline: none;
    border-radius: 2px;
  } */
  .red-btn,
  .green-btn{
    background: #059669;
    color: #ffffff;
  }
  .red-btn{
    background: #DC2626;
  }
  .default-btn{
    background: #E5E7EB;
  }
  .btn:hover{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }